body {
    display: flex;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('img/BGimage.png');
    background-position: center;
}

button {
    background-color: #FFC800;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    transition: all 200ms ease-in-out;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 12px;
    width: 160px;
    position: absolute;
    margin-top: 20px;
}

canvas {
    background-color: black;
    display: block;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}


.start-screen {
    display: flex;
    justify-content: center;
    height: 480px;
    width: 720px;
    border-radius: 12px;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.overlay {
    height: 480px;
    width: 720px;
    border-radius: 12px;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.outro {
    height: 480px;
    width: 720px;
    border-radius: 12px;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starting-BG {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.starting-image {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.gameOver-image {
    height: 100%;
    width: 100%;
    border-radius: 12px;   
}

.bottom-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 720px;
    max-width: 100%;
    position: relative;
    bottom: 60px;
}

.buttons {
    z-index: 99;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC800;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    transition: all 200ms ease-in-out;
}

.start-game {
    font-size: 22px;
    border-radius: 12px;
    top: 20px;
    width: 160px;
}

.sound{
    font-size: 22px;
    border-radius: 12px;
    width: 50px;
    height: 36px;
    background-image: url(img/icons/volume.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.fullscreen {
    right: 33%;
    font-size: 22px;
    border-radius: 12px;
    width: 50px;
    height: 36px;
    background-image: url(img/icons/fullscreen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.controls {
    right: 10%;
    font-size: 22px;
    border-radius: 12px;
    width: 50px;
    height: 36px;
    background-image: url(img/icons/joystick.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.about {
    left: 10%;
    font-size: 22px;
    border-radius: 12px;
    width: 50px;
    height: 36px;
    background-image: url(img/icons/info.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.d-none {
    display: none;
}

.canvas-container {
    position: relative;
}

.smartphone-control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    width: 100%;
    bottom: 0;
    top: auto;
}



.panel img {
    height: 35px;
    width: 65px;
    margin: 10px;
    background-color: #FFC800;
    border-radius: 25px;
    cursor: pointer;
}

.game-info {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: rgb(47 45 40 / 50%);
    display: none;
    font-size: 26px;
}

.game-info img {
    height: 50px;
    cursor: pointer;
}

.controlling {
    position: absolute;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(47 45 40 / 50%);
    width: 100%;
}

.close-controlling {
    height: 50px;
    cursor: pointer;
}

.caps {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    justify-content: center;
}


@media only screen and (max-width: 720px) {
    .canvas-container, canvas, .start-screen, .outro, .starting-BG, .smartphone-control .bottom-buttons {
        width: 100%;
    }
}



/* Smartphones -----*/
@media only screen and (max-height: 562px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas, .start-screen, .outro, .starting-BG {
        height: 100vh;
    }

    .smartphone-control {
        gap: 60px;
    }
}

@media only screen and (max-height: 300px) {
    .smartphone-control {
        gap: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .smartphone-control {
        gap: 20px;
    }
}
