body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: url('img/BGimage.png');
    background-position: center;
}

canvas {
    background-color: black;
    display: block;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}


/* Smartphones -----*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones -----*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}